<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title class="title">
            <h4>{{config.Name}}</h4>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="group">
        <p>
            <mat-checkbox formControlName="insecure" labelPosition="after">Insecure</mat-checkbox>
        </p>
            <mat-form-field appearance="fill">
                <mat-label>System Action Retries</mat-label>
                <input matInput formControlName="systemActionRetries" placeholder="Value in seconds, e.g. 30">
                <mat-error *ngIf="group.controls.systemActionRetries.hasError('pattern')">
                    Value must be a number
                </mat-error>
            </mat-form-field><br />
            <mat-form-field appearance="fill">
                <mat-label>System Reboot Delay</mat-label>
                <input matInput formControlName="systemRebootDelay" placeholder="Value in seconds, e.g. 30">
                <mat-error *ngIf="group.controls.systemRebootDelay.hasError('pattern')">
                    Value must be a number
                </mat-error>
            </mat-form-field><br />
            <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <input matInput formControlName="type">
            </mat-form-field>
        <p>
            <mat-checkbox formControlName="useproxy" labelPosition="after">UseProxy</mat-checkbox>
        </p>
    </form>
    <mat-action-row>
        <div class="edit-btn-container">
            <button mat-icon-button (click)="toggleLock()">
                <mat-icon *ngIf="locked else unlocked" class="grey-icon" svgIcon="lock"></mat-icon>
                <ng-template #unlocked>
                    <mat-icon *ngIf="!locked" class="grey-icon" svgIcon="lock_open"></mat-icon>
                </ng-template>
            Edit</button>
        </div>
        <button mat-raised-button class="set-button" [disabled]="locked || !group.valid" (click)="setManagementConfig()" color="primary">Set</button>
    </mat-action-row>
</mat-expansion-panel>
<br />
