<h1>Airship Configuration Options</h1>
<h5>Airship Config File: {{airshipConfigPath}}</h5>
<mat-divider></mat-divider>
<div *ngIf="airshipConfigPath !== '' && airshipConfigPath !== undefined; else initblock" class="config-container">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="title">
                <h3>Contexts</h3>
            </mat-panel-title>
            <mat-panel-description>
                <h5>Current Context: {{currentContext}}</h5>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-accordion *ngFor="let context of contexts">
            <app-config-context [context]="context"></app-config-context>
        </mat-accordion>
        <button mat-icon-button (click)="newConfig('context')">
            <mat-icon class="grey-icon" svgIcon="add"></mat-icon>New Context
        </button>
    </mat-expansion-panel>
    <br />
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="title">
                <h3>Manifests</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion *ngFor="let manifest of manifests">
            <app-config-manifest [manifest]="manifest"></app-config-manifest>
        </mat-accordion>
        <button mat-icon-button (click)="newConfig('manifest')">
            <mat-icon class="grey-icon" svgIcon="add"></mat-icon>New Manifest
        </button>
    </mat-expansion-panel>
    <br />
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="title">
                <h3>Encryption Configurations</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion *ngFor="let config of encryptionConfigs">
            <app-config-encryption [config]="config"></app-config-encryption>
        </mat-accordion>
        <button mat-icon-button (click)="newConfig('encryption')">
            <mat-icon class="grey-icon" svgIcon="add"></mat-icon>New Encryption Config
        </button>
    </mat-expansion-panel>
    <br />
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="title">
                <h3>Management Configurations</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion *ngFor="let config of managementConfigs">
            <app-config-management [config]="config"></app-config-management>
        </mat-accordion>
        <button mat-icon-button (click)="newConfig('management')">
            <mat-icon class="grey-icon" svgIcon="add"></mat-icon>New Management Config
        </button>
    </mat-expansion-panel>
</div>
<ng-template #initblock>
    <div class="config-init-container">
        <app-config-init></app-config-init>
    </div>
</ng-template>
