<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title class="title">
            <h4>{{config.name}}</h4>
        </mat-panel-title>
    </mat-expansion-panel-header>
        <form [formGroup]="group">
            <div *ngIf="config.hasOwnProperty('encryptionKeyPath')">
                <mat-form-field appearance="fill">
                    <mat-label>EncryptionKeyPath</mat-label>
                    <input matInput formControlName="encryptionKeyPath">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>DecryptionKeyPath</mat-label>
                    <input matInput formControlName="decryptionKeyPath">
                </mat-form-field>
            </div>
            <div *ngIf="config.hasOwnProperty('keySecretName')">
                <mat-form-field appearance="fill">
                    <mat-label>KeySecretName</mat-label>
                    <input matInput formControlName="keySecretName">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>KeySecretNamespace</mat-label>
                    <input matInput formControlName="keySecretNamespace">
                </mat-form-field>
            </div>
        </form>
    <mat-action-row>
        <div class="edit-btn-container">
            <button mat-icon-button (click)="toggleLock()">
                <mat-icon *ngIf="locked else unlocked" class="grey-icon" svgIcon="lock"></mat-icon>
                <ng-template #unlocked>
                    <mat-icon *ngIf="!locked" class="grey-icon" svgIcon="lock_open"></mat-icon>
                </ng-template>
            Edit</button>
        </div>
        <button mat-raised-button class="set-button" [disabled]="locked || !group.valid" (click)="setEncryptionConfig()" color="primary">Set</button>
    </mat-action-row>
</mat-expansion-panel>
<br />
