<h1>Airship CTL {{.Title}} Base Information</h1>
<p>Version: {{.Version}}</p>

<!-- Cluster details in accordion -->
<div class="panel">
  <p>
    <table class="table" id="ClusterTable">
      <thead>
        <tr>
          <th scope="col">Bootstrap Info</th>
          <th scope="col">Cluster Kube Conf</th>
          <th scope="col">Management Configuration</th>
          <th scope="col">Location Of Origin</th>
          <th scope="col">Server</th>
          <th scope="col">Certificate Authority</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          {{.ClusterRows}}
      </tbody>
    </table>
    <button type="button" class="btn btn-info" id="ClusterBtn" onclick="addConfigModal(this)">Add</button>
  </p>
</div>

<!-- This is used by the cluster add modal and is injected into the DOM but not displayed except by the popup -->
<div id="ClusterModalTemplate" style="display:none">
  <h2>Add Cluster Member</h2>
  <table class="table" id="ClusterAddTable">
    <thead>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Server</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text"></td>
        <td>
          <select>
            <option value="ephemeral">ephemeral</option>
            <option value="target">target</option>
          </select>
        </td>
        <td><input type="text"></td>
        <td>
          <button class="btn btn-success" onclick="saveConfigDialog(this)">Save</button>&nbsp;&nbsp;
          <button  class="btn btn-dark" onclick="closeDialog(this)">Cancel</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Context details in accordion -->
<div class="panel">
  <p>
    <table class="table" id="ContextTable">
      <thead>
        <tr>
          <th scope="col">Context Kube Conf</th>
          <th scope="col">Manifest</th>
          <th scope="col">Location Of Origin</th>
          <th scope="col">Cluster</th>
          <th scope="col">User</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          {{.ContextRows}}
      </tbody>
    </table>
  </p>
  <button type="button" class="btn btn-info" id="ContextBtn" onclick="addConfigModal(this)">Add</button>
</div>

<!-- This is used by the context add modal and is injected into the DOM but not displayed except by the popup -->
<div id="ContextModalTemplate" style="display:none">
  <h2>Add Context</h2>
  <table class="table" id="ContextAddTable">
    <thead>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Cluster</th>
          <th scope="col">User</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text"></td>
        <td>
          <select>
            <option value="ephemeral">ephemeral</option>
            <option value="target">target</option>
          </select>
        </td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td>
          <button class="btn btn-success" onclick="saveConfigDialog(this)">Save</button>&nbsp;&nbsp;
          <button  class="btn btn-dark" onclick="closeDialog(this)">Cancel</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Credential details in accordion -->
<div class="panel">
  <p>
    <table class="table" id="CredentialTable">
      <thead>
        <tr>
          <th scope="col">Location Of Origin</th>
          <th scope="col">Username</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          {{.CredentialRows}}
      </tbody>
    </table>
    <button type="button" class="btn btn-info" id="CredentialBtn" onclick="addConfigModal(this)">Add</button>
  </p>
</div>

<!-- This is used by the credential add modal and is injected into the DOM but not displayed except by the popup -->
<div id="CredentialModalTemplate" style="display:none">
  <h2>Add Credential</h2>
  <table class="table" id="CredentialAddTable">
    <thead>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">User</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td>
          <button class="btn btn-success" onclick="saveConfigDialog(this)">Save</button>&nbsp;&nbsp;
          <button  class="btn btn-dark" onclick="closeDialog(this)">Cancel</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


