<h1>Airship CTL {{.Title}} Base Information</h1>
<p>Version: {{.Version}}</p>

 <!-- Tab links -->
 <div class="tab">
  <button class="tablinks active" onclick="tabAction(event, this)"  id="DocOverviewTabBtn">Document Overview</button>
  <button class="tablinks" onclick="tabAction(event, this)"  id="DocPullTabBtn">Document Pull</button>
  <button class="tablinks" onclick="tabAction(event, this)" id="YamlTabBtn">YAML</button>
</div>

<!-- Tab content -->
<div id="DocOverviewTab" class="tabcontent" style="display:block">
  <p>
    <div id="DocOverviewDiv" style="height: 60vh;overflow: hidden;border:1px solid grey"></div>
  </p>
</div>
<div id="DocPullTab" class="tabcontent">
  <p>
    <button type="button" class="btn btn-info" id="DocPullBtn" onclick="documentAction(this)" style="width: 150px;">Document Pull</button>
  </p>
</div>
<div id="YamlTab" class="tabcontent">
  <p>
    <table style="width:100%">
      <tr>
        <td>
          <ul id="treeUL">
            <li><span class="folder">{{.YAMLHome}}</span>
              <ul class="nested">
                {{.YAMLTree}}
              </ul>
            </li>
          </ul>
        </td>
        <td align="right" style="vertical-align: top;">
          <button type="button" class="btn btn-info" id="SaveYamlBtn" onclick="documentAction(this)" style="width: 150px;" disabled>Save</button>
        </td>
      </tr>
    </table>
    <h3>Contents</h3>
    <div id="DocYamlDIV" style="height: 55vh;overflow: hidden;border:1px solid grey"></div>
  </p>
</div>
