<h1>Airship Secret Operations</h1>
<div class="container">
  <h3>Decrypt encrypted yaml files into plaintext files representing Kubernetes objects consisting of sensitive data</h3>
  <table class="secretBorder">
    <tbody>
      <tr>
        <td>
          <mat-horizontal-stepper #decryptStepper [linear]="true" (selectionChange)="decryptChange($event)">
            <mat-step [stepControl]="decryptSrcFG" errorMessage="Source file is required." label="Source File">
              <form [formGroup]="decryptSrcFG">
                <mat-form-field>
                  <mat-label>Source</mat-label>
                  <input id="decryptSrc" matInput placeholder="Ex. /tmp/manifests/target/secrets/encrypted-qualified-secret.yaml" formControlName="decryptSrcCtrl" required>
                </mat-form-field>
                <button mat-button matStepperNext>Next</button>
              </form>
            </mat-step>
            <mat-step [stepControl]="decryptDestFG" errorMessage="Destination is required." label="Destination File">
              <form [formGroup]="decryptDestFG">
                <mat-form-field>
                  <mat-label>Destination</mat-label>
                  <input id="decryptDest" matInput placeholder="Ex. /tmp/manifests/target/secrets/qualified-secret.yaml" formControlName="decryptDestCtrl" required>
                </mat-form-field>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </form>
            </mat-step>
            <mat-step label="Decrypt">
              <table>
                <tr>
                  <td><b>Source:</b></td>
                  <td id="decryptSrcTd"></td>
                </tr>
                <tr>
                  <td><b>Destination:</b></td>
                  <td id="decryptDestTd"></td>
                </tr>
                <tr>
                  <td colspan="2">
                    <button mat-button matStepperPrevious>Back</button>
                    <button (click)="decryptStepper.reset()">Clear</button>
                    <button (click)="decrypt()">Decrypt!</button>
                  </td>
                </tr>
              </table>
            </mat-step>
          </mat-horizontal-stepper>
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Encrypt plain text yaml files representing Kubernetes objects consisting of sensitive configuration</h3>
  <table class="secretBorder">
    <tbody>
      <tr>
        <td>
          <mat-horizontal-stepper #encryptStepper [linear]="true" (selectionChange)="encryptChange($event)">
            <mat-step [stepControl]="encryptSrcFG" errorMessage="Source file is required." label="Source File">
              <form [formGroup]="encryptSrcFG">
                <mat-form-field>
                  <mat-label>Source</mat-label>
                  <input id="encryptSrc" matInput placeholder="Ex. /tmp/manifests/target/secrets/qualified-secret.yaml" formControlName="encryptSrcCtrl" required>
                </mat-form-field>
                <button mat-button matStepperNext>Next</button>
              </form>
            </mat-step>
            <mat-step [stepControl]="encryptDestFG" errorMessage="Destination is required." label="Destination File">
              <form [formGroup]="encryptDestFG">
                <mat-form-field>
                  <mat-label>Destination</mat-label>
                  <input id="encryptDest" matInput placeholder="Ex. /tmp/manifests/target/secrets/encrypted-qualified-secret.yaml" formControlName="encryptDestCtrl" required>
                </mat-form-field>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </form>
            </mat-step>
            <mat-step label="Encrypt">
              <table>
                <tr>
                  <td><b>Source:</b></td>
                  <td id="encryptSrcTd"></td>
                </tr>
                <tr>
                  <td><b>Destination:</b></td>
                  <td id="encryptDestTd"></td>
                </tr>
                <tr>
                  <td colspan="2">
                    <button mat-button matStepperPrevious>Back</button>
                    <button (click)="decryptStepper.reset()">Clear</button>
                    <button (click)="encrypt()">Encrypt!</button>
                  </td>
                </tr>
              </table>
            </mat-step>
          </mat-horizontal-stepper>
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Generate Master Passphrase</h3>
  <table class="secretBorder">
    <tbody>
      <tr>
        <td>
          <button type="submit" id="generateButton" (click)="generateSecret()">Generate</button>
        </td>
        <td>
          <b>Output:</b>
        </td>
        <td>
          <div id="GenerateOutputDiv"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>