<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title class="title">
            <h4>{{manifest.name}}</h4>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div [formGroup]="group">
        <mat-form-field appearance="fill">
            <mat-label>Target Path</mat-label>
            <input matInput formControlName="targetPath">
            <mat-error *ngIf="group.controls.targetPath.hasError('required')">
                Target Path is required
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Metadata Path</mat-label>
            <input matInput formControlName="metadataPath">
            <mat-error *ngIf="group.controls.metadataPath.hasError('required')">
                Metadata Path is required
            </mat-error>
        </mat-form-field>
        <h5>Repositories</h5>
        <mat-form-field appearance="fill">
            <mat-select [(value)]="selectedIndex">
                <mat-option *ngFor="let repoName of selectArray; let i = index" [value]="i">{{repoName}}</mat-option>
            </mat-select>
        </mat-form-field>
        <ng-container *ngFor="let repo of repoArray.controls; let i = index">
            <div *ngIf="i === selectedIndex" [formGroup]="repo">
                <mat-form-field appearance="fill">
                    <mat-label>URL</mat-label>
                    <input matInput formControlName="url">
                    <mat-error *ngIf="repo.controls.url.hasError('required')">
                        URL is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{repo.controls.checkoutLabel.value}}</mat-label>
                    <input matInput formControlName="checkoutReference">
                    <mat-error *ngIf="repo.controls.checkoutReference.hasError('required')">
                        {{repo.controls.checkoutLabel.value}} is required
                    </mat-error>
                </mat-form-field>
                <p>
                    <mat-checkbox formControlName="force" labelPosition="after">Force</mat-checkbox>
                </p>
                <p>
                    <mat-checkbox formControlName="isPhase" labelPosition="after">Is Phase</mat-checkbox>
                </p>
            </div>
        </ng-container>
        <button mat-icon-button (click)="newRepoDialog()">
            <mat-icon class="grey-icon" svgIcon="add"></mat-icon>New Repository
        </button>
    </div>
    <mat-action-row>
        <div class="edit-btn-container">
            <button mat-icon-button (click)="toggleLock()">
                <mat-icon *ngIf="locked else unlocked" class="grey-icon" svgIcon="lock"></mat-icon>
                <ng-template #unlocked>
                    <mat-icon *ngIf="!locked" class="grey-icon" svgIcon="lock_open"></mat-icon>
                </ng-template>
            Edit</button>
        </div>
        <button mat-raised-button class="set-button" [disabled]="locked || !group.valid" (click)="setManifest(selectedIndex)" color="primary">Set</button>
    </mat-action-row>
</mat-expansion-panel>
<br />
