<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title class="title">
            <h4>{{manifest.name}}</h4>
        </mat-panel-title>
    </mat-expansion-panel-header>
        RepoName:
            <mat-form-field appearance="fill">
                <input matInput [formControl]="RepoName">
            </mat-form-field>
        URL:
            <mat-form-field appearance="fill">
                <input matInput [formControl]="URL">
            </mat-form-field>
        Branch:
            <mat-form-field appearance="fill">
                <input matInput [formControl]="Branch">
            </mat-form-field>
        CommitHash:
            <mat-form-field appearance="fill">
                <input matInput [formControl]="CommitHash">
            </mat-form-field>
        Tag:
            <mat-form-field appearance="fill">
                <input matInput [formControl]="Tag">
            </mat-form-field>
        RemoteRef:
            <mat-form-field appearance="fill">
                <input matInput [formControl]="RemoteRef">
            </mat-form-field>
        <p>
            <mat-checkbox [formControl]="Force" labelPosition="before">Force: </mat-checkbox>
        </p>
        <p>
            <mat-checkbox [formControl]="IsPhase" labelPosition="before">IsPhase: </mat-checkbox>
        </p>
        SubPath:
            <mat-form-field appearance="fill">
                <input matInput [formControl]="SubPath">
            </mat-form-field>
        TargetPath:
            <mat-form-field appearance="fill">
                <input matInput [formControl]="TargetPath">
            </mat-form-field>
        MetadataPath:
            <mat-form-field appearance="fill">
                <input matInput [formControl]="MetadataPath">
            </mat-form-field>
    <mat-action-row>
        <div class="edit-btn-container">
            <button mat-icon-button (click)="toggleLock()">
                <mat-icon *ngIf="locked else unlocked" class="grey-icon" svgIcon="lock"></mat-icon>
                <ng-template #unlocked>
                    <mat-icon *ngIf="!locked" class="grey-icon" svgIcon="lock_open"></mat-icon>
                </ng-template>
            Edit</button>
        </div>
        <button mat-raised-button class="set-button" [disabled]="locked" (click)="setManifest()" color="primary">Set</button>
    </mat-action-row>
</mat-expansion-panel>
<br />
