<mat-tab-group>
  <mat-tab label="Document Overview">
    <div id="DocContainer">
      <div id="SourceTab" class="tabcontent">
        <div id="ViewType">
          <mat-button-toggle-group name="viewSelector" aria-label="View Selector">
            <mat-button-toggle value="source" (click)="getSource()" checked="true">Source</mat-button-toggle>
            <mat-button-toggle value="rendered" (click)="getRendered()">Rendered</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="kustom-tree">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
            <li class="mat-tree-node">
              <button mat-icon-button disabled></button>
              <button (click)="getYaml(node.id)">{{node.name}}</button>
            </li>
          </mat-tree-node>
          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <li>
              <div class="mat-tree-node">
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                {{node.name}}
              </div>
              <ul [class.kustom-tree-invisible]="!treeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
              </ul>
            </li>
          </mat-nested-tree-node>
        </mat-tree>
        </div>
      <div id="EditorDiv" class="tabcontent">
        <div id="EditorHeader">
          <div id="EditorTitle"><h5 id="doc-name">{{editorTitle}}</h5></div>
          <div *ngIf="!hideButtons" id="EditorButtons">
            <button type="button" class="editor-btn" id="SaveYamlBtn" (click)="saveYaml()" [disabled]="saveBtnDisabled">Save</button>
            <button type="button" class="editor-btn" (click)="closeEditor()">Close</button>
          </div>
        </div>
        <ngx-monaco-editor *ngIf="code !== undefined && code !== null" [options]="editorOptions" [(ngModel)]="code" (onInit)="onInit($event)"></ngx-monaco-editor>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Document Pull">
    <br>
    <button type="button" class="btn btn-info" id="DocPullBtn" (click)="documentPull()" style="width: 150px;">Document Pull</button>
    <p>Response to Pull: {{obby}}</p>
  </mat-tab>
</mat-tab-group>