<h1>Airship Cluster Operations</h1>

<div class="container">
    <h2>Cluster Init</h2>
    <table class="clusterBorder">
        <tbody>
            <tr>
                <td>
                    <b>Deprecated:</b>
                </td>
                <td>
                    <mat-icon color="primary" svgIcon="error_outline"></mat-icon>
                </td>
                <td>
                    Functionality has moved to phases
                </td>
            </tr>
        </tbody>
    </table>
    <h2>Cluster Move</h2>
    <table class="clusterBorder">
        <tbody>
            <tr>
                <td>
                    <b>Deprecated:</b>
                </td>
                <td>
                    <mat-icon color="primary" svgIcon="error_outline"></mat-icon>
                </td>
                <td>
                    Functionality has moved to phases
                </td>
            </tr>
        </tbody>
    </table>
    <h2>Cluster Status</h2>
    <table class="clusterBorder">
        <tbody>
            <tr>
                <td>
                    <button type="submit" id="statusButton" disabled>Status</button>
                </td>
                <td>
                    <mat-icon color="primary" svgIcon="error_outline"></mat-icon>
                </td>
                <td>
                    Status is not currently operable see: https://github.com/airshipit/airshipctl/issues/370
                </td>
            </tr>
        </tbody>
    </table>
</div>