<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title class="title">
            <h4>{{context.name}}</h4>
        </mat-panel-title>
    </mat-expansion-panel-header>
        ContextKubeconf:
        <mat-form-field appearance="fill">
            <input [formControl]="contextKubeconf" matInput>
        </mat-form-field>
        Manifest:
        <mat-form-field appearance="fill">
            <input [formControl]="manifest" matInput>
        </mat-form-field>
        EncryptionConfig:
        <mat-form-field appearance="fill">
            <input [formControl]="encryptionConfig" matInput>
        </mat-form-field>
        ManagementConfiguration:
        <mat-form-field appearance="fill">
            <input [formControl]="managementConfiguration" matInput>
        </mat-form-field>
    <mat-action-row>
        <div class="edit-btn-container">
            <button mat-icon-button (click)="toggleLock()">
                <mat-icon *ngIf="locked else unlocked" class="grey-icon" svgIcon="lock"></mat-icon>
                <ng-template #unlocked>
                    <mat-icon *ngIf="!locked" class="grey-icon" svgIcon="lock_open"></mat-icon>
                </ng-template>
            Edit</button>
        </div>
        <button mat-raised-button (click)="useContext(context.name)">Use Context</button>
        <button mat-raised-button class="set-button" [disabled]="locked" (click)="setContext()" color="primary">Set</button>
      </mat-action-row>
</mat-expansion-panel>
<br />
